<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- partial('_partial/head') %>
  <body
    data-page-index="<%= page.path == "index.html" %>"
    data-color-scheme="<%= theme.color_scheme %>"
    <% if (theme.search == true && page.type == 'search') { %>
    data-search-path="<%= theme.search_path %>"
    <% } %>
  >
    <%- partial('_partial/nav') %>
    <%- body %>
    <%- partial('_partial/footer') %>

    <%- js('js/main.js') %>
    <% if (theme.search == true && page.type == 'search') { %>
    <%- js('js/search.js') %>
    <% } %>
    <% if (config.tidio) { %> 
    <%- js(config.tidio) %> 
    <% } %>
    <% if (config.ackee) { %>
    <%- config.ackee %>
    <% } %>

    <% if (theme.scroll_reveal) { %>
    <%- js('js/scrollreveal.min.js') %>
    <script>
      window.addEventListener('load', () => {
        ScrollReveal({
          delay: 250,
          easing: 'cubic-bezier(0, 0, 0, 1)'
        })
        ScrollReveal().reveal(
          [
            '.post-list-item',
            '.year-title',
            '.content img',
            '.content iframe',
          ].join(','),
          {
            distance: '40px',
            origin: 'bottom',
            duration: 800
          }
        )
      })
    </script>
    <% } %>
  </body>
</html>