<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- partial('_partial/head') %>
  <body
    data-page-index="<%= page.path == "index.html" %>"
    data-color-scheme="<%= theme.color_scheme %>"
    <% if (theme.search == true && page.type == 'search') { %>
    data-search-path="<%= theme.search_path %>"
    <% } %>
  >
    <%- partial('_partial/nav') %>
    <%- body %>
    <%- partial('_partial/footer') %>

    <%- js('js/main.js') %>
    <% if (theme.search == true && page.type == 'search') { %>
    <%- js('js/search.js') %>
    <% } %>
  </body>
</html>