<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name="color-scheme" content="light dark">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archives');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    if (theme.hashtag_prefix_before_tags) {
      title = '#' + page.tag;
    } else {
      title = __('tag') + ': ' + page.tag;
    }
  } else if (theme.search == true && page.type == 'search') {
    title = __('search')
  } else if (page.type == 'tags') {
    title = __('tags');
  } else if (page.type == 'categories') {
    title = __('categories');
  }
  %>
  <title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>
  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>
  <% if (theme.manifest) { %>
    <link rel='manifest' href='<%= theme.manifest %>'>
  <% } %>

  <%- css('css/main') %>
</head>