<nav id="theme-nav">
    <div class="inner">
        <a class="title" href="<%= config.root %>"><%= theme.nav.title %></a>
        <div class="nav-arrow"></div>
        <div class="nav-items">
            <a class="nav-item nav-item-home" href="<%= config.root %>"><%= __('home') %></a>
            <% for (const i in theme.nav.items) { %>
            <% if (['github', 'patreon', 'codepen', 'mastodon', 'discord', 'search'].includes(i.toLowerCase())) { %>
            <a class="nav-item nav-item-<%= i.toLowerCase() %> nav-item-icon" href="<%- url_for(theme.nav.items[i]) %>" target="_blank">&nbsp;</a>
            <% } else { %>
            <a class="nav-item" href="<%- url_for(theme.nav.items[i]) %>"><%= i %></a>
            <% } %>
            <% } %>
        
            <% if (theme.show_color_scheme_toggle) { %>
                <div class="color-scheme-toggle-gap"></div>
                <div class="color-scheme-toggle" role="radiogroup" id="theme-color-scheme-toggle">
                    <label>
                        <input type="radio" value="light">
                        <span>Light</span>
                    </label>
                    <label>
                        <input type="radio" value="dark">
                        <span>Dark</span>
                    </label>
                    <label>
                        <input type="radio" value="auto">
                        <span>Auto</span>
                    </label>
                </div>
            <% }%>
        </div>
    </div>
</nav>